<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>968596221490-28hi03nage2rsni8kl1k0998oka6dg0p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.968596221490-28hi03nage2rsni8kl1k0998oka6dg0p</string>
	<key>API_KEY</key>
	<string>AIzaSyC2jeGN8TewtAY27yKsiqvNME5eAruxqtw</string>
	<key>GCM_SENDER_ID</key>
	<string>968596221490</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.agora.agoraRtcEngineExample</string>
	<key>PROJECT_ID</key>
	<string>advices-prod</string>
	<key>STORAGE_BUCKET</key>
	<string>advices-prod.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:968596221490:ios:2e2893b0a35b068380962b</string>
</dict>
</plist>